.wrapper {
    padding-left: 12px;
    padding-right: 18px;
    float: right;
    box-sizing: border-box;
    margin: 0;
}

.hr {
    background-color: #E1E3DF;
    border: 0;
    height: 1px;
    margin: 18px 0;
    width: 100%;
    box-sizing: border-box;
}

.faq_wrapper {
    padding: 18px 0;
    margin: 0;
    border-bottom: 1px solid #E1E3DF;
    background-color: #FFF;
    box-sizing: border-box;
}

.botton_wrapper {
    margin: 0;
    margin-top: 12px;
    box-sizing: border-box;
    width: auto;
}

.button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between !important;
    display: flex !important;
    background-color: transparent;
    border: none;
    border-radius: 0;
    text-decoration: none;
    height: inherit;
}

.button_text {
    padding-bottom: 12px;
    box-sizing: border-box;
    margin: 0;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Vollkorn', serif;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
}

.span {
    margin: 0;
    box-sizing: border-box;
    margin-left: -3px;
    margin-right: -8px;
    top: 0;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    vertical-align: middle;
    width: 24px;
    transition: all 0.15ms linear;
    transform-origin: 50% 45%;
    position: relative;
}

.svg {
    display: block;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}

.path {
    overflow: hidden;
    margin: 0;
    fill: currentColor;
}

.questions_wrapper {
    height: 0px;
    overflow: visible;
    visibility: visible;
    box-sizing: border-box;
    margin: 0;
    border: 0px solid #E1E3DF;
    background-color: #FFF;
    float: none;
    position: relative;
}

.questions_wrapper::before {
    content: " ";
    display: table;
}

.questions_wrapper::after {
    content: " ";
    display: table;
    clear: both;
}

.questions_wrapper_inner {
    padding-top: 6px;
    word-break: break-word;
    word-wrap: break-word;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0;
}

.question_one_wrapper {
    border-radius: 3px;
    background-color: #FFF;
    border-bottom: 1px solid #E1E3DF;
    margin: 0 0 12px;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
    padding: 18px 0;
}

.question_one_button_wrapper {
    width: 100%;
    background-color: transparent;
	border: none;
	border-radius: 0;
	text-decoration: none;
	padding: 0;
	height: inherit;
	text-align: left;
	color: #222222;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
    line-height: 1.4;
    font-weight: inherit;
}

.question_one_button_text {
    padding-right: 6px;
    font-weight: 500;
    color: #222;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
    line-height: 1.4;
}

.question_one_answer {
    height: auto;
    visibility: visible;
    overflow: visible;
    margin: 0;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
	color: #595959;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
    line-height: 1.4;
}