.wrapper {
    box-sizing: border-box;
    margin: 0;
}

.inner_wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    padding-right: 12px;
    margin-top: 6px;
    border: 0px solid #E1E3DF;
    border-bottom: 1px solid #E1E3DF;
    background-color: #FFF;
    float: none;
    position: relative;
}

.inner_wrapper::before {
    content: " ";
    display: table;
}

.inner_wrapper::after {
    content: " ";
    display: table;
    clear: both;
}

.shipping_policies_wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.h2 {
    font-weight: 700;
    color: #222;
    font-size: 16px;
    font-family: 'Vollkorn', serif;
    line-height: 1.6;
    letter-spacing: normal;
    box-sizing: border-box;
    margin: 0;
    width: auto;
    text-align: left;
}

.shipping_from_wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    width: 100%;
    float: left;
}

.estimated_delivery_wrapper {
    box-sizing: border-box;
    margin: 0;
    font-weight: 700;
    color: #222;
    font-size: 14px;
    font-family: 'Vollkorn', serif;
    line-height: 1.4;
    text-align: left;
}

.from {
    box-sizing: border-box;
    margin: 6px 0px;
    color: #222;
    font-size: 14px;
    font-family: 'Vollkorn', serif;
    line-height: 1.4;
    text-align: left;
}

.view_shipping_costs_wrapper {
    box-sizing: border-box;
    margin: 0 -36px;
    padding: 0 18px;
    border: 0px solid #E1E3DF;
    float: none;
    position: relative;
}

.view_shipping_costs_wrapper::before {
    content: " ";
    display: table;
}

.view_shipping_costs_wrapper::after {
    content: " ";
    display: table;
    clear: both;
}

.view_shipping_costs_wrapper_inner {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    float: left;
    padding-right: 18px;
}

.button_wrapper {
    box-sizing: border-box;
    margin-bottom: 12px;
    display: table;
    width: 100%;
}

.button {
    color: #222 !important;
    text-decoration: underline !important;
    padding: 0px;
    background-color: transparent;
    border: none;
    height: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: inherit;
    border-radius: 3px;
    display: inline-block;
    font-family: inherit;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    text-transform: none;
    box-sizing: border-box;
    margin: 0;
}

.button::-moz-focus-inner {
    padding: 0;
}

.view_policies_wrapper {
    box-sizing: border-box;
    margin: 0;
    margin-top: 18px;
    width: 100%;
    float: left;
}

.view_policies_button {
    text-decoration: underline;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    height: inherit;
    text-align: left;
    font-family: 'Vollkorn', serif;
    font-size: 14px;
    line-height: 1.4;
    text-transform: none;
    box-sizing: border-box;
    margin: 0;
}

.view_policies_span {
    text-decoration: none !important;
    color: #222;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
    font-family: 'Vollkorn', serif;
    font-size: 14px;
    line-height: 1.4;
}