.button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between !important;
    display: flex !important;
    background-color: transparent;
    border: none;
    border-radius: 0;
    text-decoration: none;
    height: inherit;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.span {
    margin: 0;
    box-sizing: border-box;
    margin-left: -3px;
    margin-right: -8px;
    top: 0;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    vertical-align: middle;
    width: 24px;
    transition: all 0.15ms linear;
    transform-origin: 50% 45%;
    position: relative;
}

.question_wrapper {
    border-radius: 3px;
    background-color: #FFF;
    border-bottom: 1px solid #E1E3DF;
    margin: 0 0 12px;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
    padding: 18px 0;
}

.question_button_wrapper {
    width: 100%;
    background-color: transparent;
	border: none;
	border-radius: 0;
	text-decoration: none;
	padding: 0;
	height: inherit;
	text-align: left;
	color: #222222;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
    line-height: 1.4;
    font-weight: inherit;
}

.question_button_text {
    padding-right: 6px;
    font-weight: 600;
    color: #222;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
    line-height: 1.4;
}

.question_answer {
    height: auto;
    margin: 0;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
	color: #595959;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
    line-height: 1.4;
}

.question_answer_visible {
    visibility: visible;
    overflow: visible;
}

.question_answer_hidden {
    visibility: hidden;
    overflow: hidden;
}