.wrapper {
    margin: 0;
}

.options_wrapper {
    margin: 0;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.quantity_wrapper {
    margin: 0;
    margin-bottom: 12px;
}

.quantity_label {
    font-weight: 700;
    margin: 0;
    margin-bottom: 6px;
    display: block;
    color: #222;
    font-family: 'Vollkorn', serif;
    font-size: 14px;
    line-height: 1.4px;
    text-align: left;
}

.select_wrapper {
    display: inline-block;
    position: relative;
    margin: 0;
}

.select {
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #FFF;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    color: #222;
    padding-right: 30px;
    padding-left: 12px;
    text-indent: 0.01px;
    text-overflow: "";
    transition: opacity 0.3s ease-out;
    display: block;
    font-family: 'Vollkorn', serif;
    font-size: 14px;
    line-height: 1.4px;
    text-align: left;
    height: 38px;
    width: 100%;
    text-transform: none;
    box-sizing: border-box;
}

.option {
    box-sizing: border-box;
    margin: 0;
    color: #222;
    text-indent: 0.01px;
    font-family: 'Vollkorn', serif;
    font-size: 14px;
    line-height: 1.4px;
    text-transform: none;
}